<div class="wrapper center" >
    
    <h1>야구게임</h1>
    <br/><br/>
    <div class="row">
        <a href="/bridge/3" class="btn btn-large green darken-4">쉬운게임 하기(3자리)</a>    
    </div>
    <div class="row">
        <a href="/bridge/4" class="btn btn-large red darken-4">중간게임 하기(4자리)</a>    
    </div>
    <div class="row">
        <a href="/bridge/5" class="btn btn-large grey darken-4">어려운게임 하기(5자리)</a>    
    </div>
    
    
    
</div>

